<div class="container bg-light mt-3 mb-5">
    
    <div class="row">
        <div class="col-sm-4">
           <div class="card  h-100 text-white bg-danger text-center">
               <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/02/25/21/day-lewis-getty.jpg?width=1200" alt="" width="100%" height="130px">
               <hr>
               <div class="card-body">
                   <p>Sir Daniel Michael Blake Day-Lewis (born 29 April 1957) is a retired English actor with dual British and Irish citizenship.[1] His numerous accolades include three Academy Awards for Best Actor, making him the first and only actor to have three wins in that category </p>
                    
               </div>
           </div>

        </div>
        <!-- card2 -->
        <div class="col-sm-4">
            <div class="card  h-100 text-white bg-dark text-center">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKJ4ChKoODOx7tSjW1BQW83d5JXnycXZlyfDBXtc-SNM0VRLHd" alt="" width="100%" height="130px">
                <hr>
                <div class="card-body">
                    <p>Robert Anthony De Niro Jr. is an American actor, producer, and director. He is particularly known for his nine collaborations with filmmaker Martin Scorsese, and is the recipient of various accolades </p>
                  
                </div>
            </div>
 
         </div>
         <!-- card3 -->
         <div class="col-sm-4">
            <div class="card  h-100 text-dark bg-warning text-center">
                <img src="https://s.yimg.com/ny/api/res/1.2/eIy6NuuWAKkPJVhpd801EA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTUyMy4wNzY5MjMwNzY5MjMx/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2020-04/36298320-80a9-11ea-b757-6a8b49a4487d" alt="" width="100%" height="130px">
                <hr>
                <div class="card-body">
                    <p>Alfredo James Pacino is an American actor and filmmaker. In a career spanning over five decades, he has received many awards and nominations, including an Academy Award, two Tony Awards, and two Primetime Emmy Awards</p>
                    
                </div>
            </div>
 
         </div>

        </div>

    </div>